body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1578px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:37px;
  width:192px;
  height:37px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u942 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u942_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1530px;
  height:2681px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:105px;
  width:1530px;
  height:2681px;
  display:flex;
}
#u943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
