body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u81801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u81802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:770px;
  background:inherit;
  background-color:rgba(245, 246, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81802 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:102px;
  width:375px;
  height:770px;
  display:flex;
}
#u81802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u81803 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:48px;
  width:333px;
  height:37px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u81803 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81803_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u81804_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:375px;
  height:54px;
}
#u81804 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:104px;
  width:371px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u81804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u81806_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:5px;
}
#u81806 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:133px;
  width:15px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u81806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81807_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:5px;
}
#u81807 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:124px;
  width:15px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u81807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:190px;
}
#u81808 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:184px;
  width:357px;
  height:190px;
  display:flex;
}
#u81808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u81809 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:194px;
  width:253px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u81809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81810 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:232px;
  width:334px;
  height:64px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81810 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:46px;
}
#u81811 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:328px;
  width:357px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u81811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u81812 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:161px;
  width:357px;
  height:14px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u81812 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:190px;
}
#u81813 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:404px;
  width:357px;
  height:190px;
  display:flex;
}
#u81813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u81814 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:414px;
  width:253px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u81814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81815 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:452px;
  width:334px;
  height:64px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81815 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:46px;
}
#u81816 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:548px;
  width:357px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u81816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u81817 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:381px;
  width:357px;
  height:14px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u81817 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:190px;
}
#u81818 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:624px;
  width:357px;
  height:190px;
  display:flex;
}
#u81818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u81819 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:634px;
  width:253px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u81819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81820 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:672px;
  width:334px;
  height:64px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81820 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:46px;
}
#u81821 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:768px;
  width:357px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u81821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u81822 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:601px;
  width:357px;
  height:14px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u81822 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:770px;
  background:inherit;
  background-color:rgba(245, 246, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81823 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:102px;
  width:375px;
  height:770px;
  display:flex;
}
#u81823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u81824 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:48px;
  width:333px;
  height:37px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u81824 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81824_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u81825_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:375px;
  height:54px;
}
#u81825 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:104px;
  width:371px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u81825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u81827_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:5px;
}
#u81827 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:133px;
  width:15px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u81827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81828_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:5px;
}
#u81828 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:124px;
  width:15px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u81828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:190px;
}
#u81829 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:184px;
  width:357px;
  height:190px;
  display:flex;
}
#u81829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u81830 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:194px;
  width:253px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u81830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81831 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:232px;
  width:334px;
  height:64px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81831 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:46px;
}
#u81832 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:328px;
  width:357px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u81832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u81833 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:161px;
  width:357px;
  height:14px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u81833 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:190px;
}
#u81834 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:404px;
  width:357px;
  height:190px;
  display:flex;
}
#u81834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u81835 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:414px;
  width:253px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u81835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81836 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:452px;
  width:334px;
  height:64px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81836 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:46px;
}
#u81837 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:548px;
  width:357px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u81837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u81838 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:381px;
  width:357px;
  height:14px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u81838 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:190px;
}
#u81839 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:624px;
  width:357px;
  height:190px;
  display:flex;
}
#u81839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u81840 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:634px;
  width:253px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u81840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81841 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:672px;
  width:334px;
  height:64px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81841 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:46px;
}
#u81842 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:768px;
  width:357px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u81842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u81843 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:601px;
  width:357px;
  height:14px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u81843 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
  text-align:center;
}
#u81844 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:120px;
  width:52px;
  height:15px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
  text-align:center;
}
#u81844 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81844_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u81845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
  text-align:center;
}
#u81845 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:120px;
  width:52px;
  height:15px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
  text-align:center;
}
#u81845 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81845_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u81846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u81846 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:186px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81846 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81847 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:891px;
  width:372px;
  height:64px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81847 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u81848 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:114px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u81848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u81849 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:164px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u81849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u81850 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:336px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u81850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:770px;
  background:inherit;
  background-color:rgba(245, 246, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81851 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:102px;
  width:375px;
  height:770px;
  display:flex;
}
#u81851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u81852 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:48px;
  width:128px;
  height:37px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u81852 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81852_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u81853_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:375px;
  height:54px;
}
#u81853 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:104px;
  width:371px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u81853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u81855_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:5px;
}
#u81855 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:133px;
  width:15px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u81855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81856_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:5px;
}
#u81856 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:124px;
  width:15px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u81856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:597px;
}
#u81857 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:204px;
  width:351px;
  height:597px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
}
#u81858 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:172px;
  width:192px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
}
#u81858 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81858_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
