body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1045px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3780 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:241px;
  width:80px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3781 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:390px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3782 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:24px;
  width:126px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3782 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3782_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3783 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:241px;
  width:137px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3784 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:271px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3784_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:125px;
  height:10px;
}
#u3784_seg1 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3784_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3785 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:241px;
  width:80px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3786 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:241px;
  width:118px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3787 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:271px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3787_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:106px;
  height:10px;
}
#u3787_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3788 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:271px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3788_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:133px;
  height:10px;
}
#u3788_seg1 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3788_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3789 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:241px;
  width:96px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3790 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:271px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3790_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:143px;
  height:10px;
}
#u3790_seg1 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3790_text {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3791 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:301px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3791_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:94px;
}
#u3791_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:76px;
  width:18px;
  height:19px;
}
#u3791_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u3792 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:104px;
  width:90px;
  height:61px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3793 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:241px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3793_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-76px;
  width:10px;
  height:81px;
}
#u3793_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-82px;
  width:18px;
  height:19px;
}
#u3793_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-46px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3794 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:104px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3794_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:6px;
  height:10px;
}
#u3794_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-28px;
  width:10px;
  height:33px;
}
#u3794_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-28px;
  width:417px;
  height:10px;
}
#u3794_seg3 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:-28px;
  width:10px;
  height:165px;
}
#u3794_seg4 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:124px;
  width:18px;
  height:19px;
}
#u3794_text {
  border-width:0px;
  position:absolute;
  left:222px;
  top:-30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3795 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:105px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3796 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:135px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3796_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:91px;
  height:10px;
}
#u3796_seg1 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3796_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3797 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:165px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3797_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:81px;
}
#u3797_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:63px;
  width:18px;
  height:19px;
}
#u3797_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:31px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3798 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:135px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3798_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:103px;
  height:10px;
}
#u3798_seg1 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:-5px;
  width:10px;
  height:146px;
}
#u3798_seg2 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:131px;
  width:25px;
  height:10px;
}
#u3798_seg3 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:127px;
  width:19px;
  height:18px;
}
#u3798_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3799 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:634px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3800 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:634px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3801 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:522px;
  width:96px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3802 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:390px;
  width:96px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3803 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:420px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3803_seg0 {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:-5px;
  width:141px;
  height:10px;
}
#u3803_seg1 {
  border-width:0px;
  position:absolute;
  left:-142px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3803_text {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3804 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:420px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3804_seg0 {
  border-width:0px;
  position:absolute;
  left:-195px;
  top:-5px;
  width:195px;
  height:10px;
}
#u3804_seg1 {
  border-width:0px;
  position:absolute;
  left:-195px;
  top:-119px;
  width:10px;
  height:124px;
}
#u3804_seg2 {
  border-width:0px;
  position:absolute;
  left:-199px;
  top:-125px;
  width:18px;
  height:19px;
}
#u3804_text {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3805 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:450px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3805_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:77px;
}
#u3805_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:59px;
  width:18px;
  height:19px;
}
#u3805_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3806 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:800px;
  width:96px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3807 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:582px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3807_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:57px;
}
#u3807_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:39px;
  width:18px;
  height:19px;
}
#u3807_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3808 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:694px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3808_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:111px;
}
#u3808_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:93px;
  width:18px;
  height:19px;
}
#u3808_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:46px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3809 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:664px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3809_seg0 {
  border-width:0px;
  position:absolute;
  left:-130px;
  top:-5px;
  width:135px;
  height:10px;
}
#u3809_seg1 {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3809_text {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3810 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:800px;
  width:96px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3811 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:634px;
  width:96px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3812 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:664px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3812_seg0 {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-5px;
  width:149px;
  height:10px;
}
#u3812_seg1 {
  border-width:0px;
  position:absolute;
  left:-150px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3812_text {
  border-width:0px;
  position:absolute;
  left:-122px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3813 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:634px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3813_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-333px;
  width:10px;
  height:338px;
}
#u3813_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-339px;
  width:18px;
  height:19px;
}
#u3813_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-174px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3814 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:694px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3814_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:111px;
}
#u3814_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:93px;
  width:18px;
  height:19px;
}
#u3814_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:46px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3815 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:830px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3815_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:139px;
  height:10px;
}
#u3815_seg1 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3815_text {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3816 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:946px;
  width:96px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3817 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:860px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3817_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:91px;
}
#u3817_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:73px;
  width:18px;
  height:19px;
}
#u3817_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3818 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:1071px;
  width:96px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3819 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:1006px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3819_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:70px;
}
#u3819_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:52px;
  width:18px;
  height:19px;
}
#u3819_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3820 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:1131px;
  width:24px;
  height:24px;
  display:flex;
}
#u3820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3821 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:390px;
  width:80px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3822 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:301px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3822_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:94px;
}
#u3822_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:76px;
  width:18px;
  height:19px;
}
#u3822_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3823 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:271px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3823_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:23px;
  height:10px;
}
#u3823_seg1 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-5px;
  width:10px;
  height:105px;
}
#u3823_seg2 {
  border-width:0px;
  position:absolute;
  left:-226px;
  top:90px;
  width:249px;
  height:10px;
}
#u3823_seg3 {
  border-width:0px;
  position:absolute;
  left:-226px;
  top:90px;
  width:10px;
  height:29px;
}
#u3823_seg4 {
  border-width:0px;
  position:absolute;
  left:-230px;
  top:106px;
  width:18px;
  height:19px;
}
#u3823_text {
  border-width:0px;
  position:absolute;
  left:-107px;
  top:87px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3824 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:301px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3824_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:70px;
}
#u3824_seg1 {
  border-width:0px;
  position:absolute;
  left:-413px;
  top:60px;
  width:418px;
  height:10px;
}
#u3824_seg2 {
  border-width:0px;
  position:absolute;
  left:-413px;
  top:60px;
  width:10px;
  height:29px;
}
#u3824_seg3 {
  border-width:0px;
  position:absolute;
  left:-417px;
  top:76px;
  width:18px;
  height:19px;
}
#u3824_text {
  border-width:0px;
  position:absolute;
  left:-234px;
  top:57px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
